@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
/* animations */
@keyframes navLink {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes scroll {
  from {
    top: 5px; }
  to {
    top: 12px; } }
@keyframes viewMore {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* general */
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  position: relative; }

.container {
  max-width: 1200px; }

.btn {
  width: 200px;
  height: 55px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 16px;
  transition: 0.3s; }

.btn:hover {
  transform: scale(1.1, 1.1);
  color: #fff; }

.head2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 21px; }

.paragraf {
  line-height: 28px;
  font-size: 17px; }

.fixed-nav {
  background-color: #F9F9FB; }

/* animate view more */
.animate {
  animation: viewMore 0.8s 1; }

/* navigation */
.navbar {
  max-height: 75px;
  padding: 5% 15px;
  transition: 1s; }
  .navbar-collapse .nav-link {
    font-weight: 700;
    letter-spacing: -0.4px;
    color: #000;
    position: relative;
    text-align: center; }
    .navbar-collapse .nav-link__line {
      position: absolute;
      width: 100%;
      height: 3px;
      top: 5px;
      left: 0;
      background-color: red;
      visibility: hidden; }
  .navbar-collapse .active .nav-link__line {
    visibility: visible;
    animation: navLink 0.5s 1; }

/* jumbotron */
.jumbotron-fluid {
  height: 100vh;
  background: #F9F8FB url("../img/bg_header1.png") center no-repeat;
  padding-top: 145px; }
  .jumbotron-fluid .container {
    position: relative;
    height: 100%; }
    .jumbotron-fluid .container .jumbotron-text {
      width: 31.75%;
      position: absolute;
      top: 25%;
      left: 15px; }
      .jumbotron-fluid .container .jumbotron-text__head {
        font-size: 58px;
        font-weight: 900;
        margin: 0;
        line-height: 48px; }
      .jumbotron-fluid .container .jumbotron-text__p {
        margin: 30px 0; }
      .jumbotron-fluid .container .jumbotron-text__btn {
        background-color: #FE6033; }
    .jumbotron-fluid .container .scroll {
      position: absolute;
      bottom: 7%;
      left: 50%; }
      .jumbotron-fluid .container .scroll__anim {
        position: relative; }
        .jumbotron-fluid .container .scroll__anim--mouseline {
          position: absolute;
          top: 2px;
          left: 10px;
          animation: scroll 1.2s infinite; }
      .jumbotron-fluid .container .scroll__arrow .fa-angle-down {
        position: relative;
        font-size: 40px;
        animation: scroll 1.2s infinite;
        color: #000; }

/* about us */
.about-us {
  background-color: #01BFBF;
  min-height: 700px; }
  .about-us .about__image--img {
    filter: drop-shadow(-15px 3px 23px rgba(0, 0, 0, 0.4));
    width: 567px; }
  .about-us .about__text {
    padding-left: 8.55%;
    padding-bottom: 20px;
    max-width: 603px; }
    .about-us .about__text--head {
      line-height: 75px; }
    .about-us .about__text--p {
      margin-bottom: 12px;
      font-weight: 300; }

/* our services */
.our-services {
  min-height: 750px;
  background-color: #70C0FF;
  padding: 80px 0; }
  .our-services .services {
    margin-bottom: 50px;
    margin-top: 20px; }
    .our-services .services__buttons {
      margin-top: 8.55%;
      margin-left: 7.27%; }
      .our-services .services__buttons--box {
        width: 400px;
        max-width: 400px;
        height: 100px;
        display: flex;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;
        transition: .4s; }
        .our-services .services__buttons--box__btn {
          cursor: pointer;
          border: none;
          background-color: #fff; }
          .our-services .services__buttons--box__btn--text {
            width: 75%;
            font-weight: 700;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 18px;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px; }
          .our-services .services__buttons--box__btn--icon {
            width: 25%;
            border-left: 1px solid #000;
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px; }
    .our-services .services__image {
      width: 560px;
      max-width: 560px;
      height: 530px;
      background: url("../img/tomatoes.png") right no-repeat; }
      .our-services .services__image--head {
        color: #fff; }

/* gallery */
.gallery {
  background-color: #FEE92E;
  min-height: 1535px;
  padding: 85px 0; }
  .gallery__text--p {
    padding: 0 25.6% 45px;
    margin: 0; }
  .gallery__box1 {
    margin-bottom: 25px; }
    .gallery__box1__image1--img {
      width: 745px;
      height: 560px;
      cursor: pointer; }
    .gallery__box1__image2--img {
      width: 400px;
      height: 267px;
      cursor: pointer; }
  .gallery__box2 {
    margin-bottom: 50px; }
    .gallery__box2--img {
      width: 572px;
      height: 420px;
      cursor: pointer; }
  .gallery__img {
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.6));
    object-fit: cover;
    transition: .4s; }
  .gallery__button--btn {
    background-color: #5685A3; }

/* subscribe to us */
.subscribe-to-us {
  min-height: 505px;
  background: url("../img/bg_subscribe.png") center no-repeat; }
  .subscribe-to-us .subscribe {
    margin-bottom: 27px; }
    .subscribe-to-us .subscribe--head {
      font-size: 40px;
      font-weight: 700;
      margin: 0;
      line-height: 48px; }
    .subscribe-to-us .subscribe--p {
      width: 50%;
      margin-top: 25px;
      margin-bottom: 30px; }
    .subscribe-to-us .subscribe__form--input {
      width: 570px;
      max-width: 570px;
      height: 55px;
      padding: 15px;
      border: 1px solid #000;
      opacity: 0.7;
      font-size: 15px; }
    .subscribe-to-us .subscribe__form--btn {
      width: 170px;
      height: 55px;
      margin-left: 25px;
      background-color: #97BA2C; }

/* blog */
.blog {
  background-color: #B07CF8;
  min-height: 855px;
  padding: 85px 0; }
  .blog__text--p {
    padding: 0 24% 45px;
    margin: 0; }
  .blog__box {
    margin-bottom: 50px;
    cursor: pointer; }
    .blog__box .blog__image {
      position: relative;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
      transition: .4s; }
      .blog__box .blog__image--img {
        width: 370px;
        object-fit: cover;
        height: 100%; }
      .blog__box .blog__image__date {
        width: 16.3%;
        height: 18.7%;
        position: absolute;
        top: 12.5%;
        left: 8.1%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        text-align: center;
        padding: 7px; }
        .blog__box .blog__image__date--nr {
          font-size: 30px;
          line-height: 20px;
          font-weight: 700; }
        .blog__box .blog__image__date--month {
          line-height: 27px;
          font-weight: 800;
          font-size: 21px; }
      .blog__box .blog__image__text {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
        padding: 50px 20px 20px; }
        .blog__box .blog__image__text--topic {
          font-weight: 700;
          font-size: 20px; }
        .blog__box .blog__image__text--author {
          font-size: 13px; }
  .blog__button--btn {
    background-color: #F82B3C; }

/* contact to us */
.contact-to-us {
  background: url("../img/bg_contact.png") left/cover no-repeat;
  min-height: 860px;
  padding: 80px 0; }
  .contact-to-us .contact__text--p {
    padding: 0 34% 40px;
    margin: 0; }
  .contact-to-us .contact__form {
    height: 550px;
    font-size: 14px; }
    .contact-to-us .contact__form--input {
      height: 50px;
      padding: 5px 15px; }
    .contact-to-us .contact__form--textarea {
      height: 250px;
      padding: 15px 15px;
      resize: none; }
    .contact-to-us .contact__form--btn {
      background-color: #00c4c3;
      box-shadow: none;
      opacity: 0; }
    .contact-to-us .contact__form .inputs {
      width: 500px;
      max-width: 500px;
      background-color: rgba(0, 196, 195, 0.5);
      border: none;
      color: #fff;
      font-weight: 500;
      transition: .6s; }
      .contact-to-us .contact__form .inputs::placeholder {
        color: #fff;
        font-weight: 300; }
      .contact-to-us .contact__form .inputs:focus {
        border-left: 5px solid #355B82;
        outline: none;
        padding-left: 10px; }
      .contact-to-us .contact__form .inputs:hover {
        border-left: 5px solid #355B82;
        outline: none;
        padding-left: 10px; }
    .contact-to-us .contact__form .contact-input:valid,
    .contact-to-us .contact__form .fulfill {
      background-color: #00c4c3;
      outline: none; }
    .contact-to-us .contact__form .contact-input:valid ~ .contact__form--btn,
    .contact-to-us .contact__form .fulfill ~ .contact__form--btn {
      opacity: 1; }
  .contact-to-us .contact__address {
    padding-right: 170px; }
    .contact-to-us .contact__address--head {
      font-size: 17px;
      font-weight: 700;
      margin: 0; }
    .contact-to-us .contact__address--p {
      font-size: 21px;
      color: #000; }

/* footer */
.footer {
  background-color: #262626;
  min-height: 100px;
  color: #B9B9B9; }
  .footer__p--small {
    font-size: 15px; }
    .footer__p--small-red {
      color: #FD2B58;
      font-weight: 600; }

/*media query */
@media (min-width: 1200px) {
  /* navigation */
  .navbar-collapse .nav-link:hover .nav-link__line {
    visibility: visible;
    animation: navLink 0.5s 1; }

  /* our services */
  .our-services .services__buttons--box:hover {
    box-shadow: 0px 3px 9px black; }

  /* gallery */
  .gallery__img:hover {
    filter: drop-shadow(0px 5px 5px black); }

  /* blog */
  .blog__box .blog__image:hover {
    box-shadow: 0 5px 15px #000; } }
@media (min-width: 993px) and (max-width: 1199.98px) {
  /* jumbotron */
  .jumbotron-fluid {
    background-size: cover; }
    .jumbotron-fluid .container .jumbotron-text {
      width: 45%;
      margin-left: 20px; }

  /* about us*/
  .about-us .about__text {
    padding-left: 40px;
    padding-right: 12px; }
  .about-us .about__image--img {
    width: 500px; }

  /* services */
  .our-services .services__image--head {
    text-align: center; }

  /* gallery */
  .gallery {
    padding: 100px 0; }
    .gallery__box1__image1--img {
      width: 570px; }
    .gallery__box2--img {
      width: 489px;
      height: 420px; }

  /* subscribe to us */
  .subscribe-to-us .subscribe {
    margin-left: 20px; }

  /* blog */
  .blog__box .blog__image--img {
    width: 315px;
    height: auto; }
  .blog__box .blog__image__date {
    padding: 4px; }
    .blog__box .blog__image__date--nr {
      font-size: 25px;
      line-height: 25px;
      font-weight: 700; }
    .blog__box .blog__image__date--month {
      line-height: 12px;
      font-weight: 800;
      font-size: 15px; }
  .blog__box .blog__image__text--topic {
    font-weight: 700;
    font-size: 16px; }
  .blog__box .blog__image__text--author {
    font-size: 12px; }

  /* contact to us */
  .contact-to-us .contact__address {
    padding-right: 70px; } }
@media (max-width: 991.98px) {
  /* gederal */
  .d-flex {
    flex-wrap: wrap;
    justify-content: center; }

  /* about us*/
  .about-us {
    min-height: 600px; }
    .about-us .about__text {
      padding-left: 0;
      padding-bottom: 0; }

  /* services */
  .our-services .services {
    flex-direction: column-reverse; }
    .our-services .services__buttons {
      margin-top: 0;
      margin-left: 0; }
      .our-services .services__buttons--box {
        width: 100%;
        height: 100px; }
    .our-services .services__image {
      width: 100%;
      height: auto;
      background: none;
      text-align: center; }
      .our-services .services__image--head {
        margin-bottom: 50px; }

  /* subscribe to us */
  .subscribe-to-us .subscribe__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px; }
    .subscribe-to-us .subscribe__form--btn {
      margin-left: 0; }

  /* contact to us */
  .contact-to-us {
    padding: 100px 0; }
    .contact-to-us .contact__text--p {
      margin: 0; }
    .contact-to-us .contact__form {
      width: 100%; }
      .contact-to-us .contact__form .inputs {
        width: 100%; }
    .contact-to-us .contact__address {
      padding-right: 0;
      color: #fff;
      padding-top: 50px;
      text-align: center; }
      .contact-to-us .contact__address--p {
        color: #fff; } }
@media (min-width: 576px) and (max-width: 991.98px) {
  /* jumbotron */
  .jumbotron-fluid {
    background-size: cover; }
    .jumbotron-fluid .container .jumbotron-text {
      width: 50%;
      margin-left: 20px; }

  /* gallery */
  .gallery {
    padding: 100px 0; }
    .gallery__box1 {
      margin-bottom: 0; }
    .gallery__box2 {
      margin-bottom: 0; }
    .gallery__img {
      margin: 10px 0;
      width: 650px;
      height: 450px; }
    .gallery__button {
      margin-top: 50px; }

  /* subscribe to us */
  .subscribe-to-us .subscribe {
    margin-left: 40px; }
    .subscribe-to-us .subscribe--p {
      width: 70%; }
    .subscribe-to-us .subscribe__form--input {
      width: 70%; }

  /* blog */
  .blog {
    padding: 100px 0; }
    .blog__box {
      margin-bottom: 0; }
      .blog__box .blog__image {
        margin: 10px 0; }
        .blog__box .blog__image--img {
          width: 600px; }
        .blog__box .blog__image__date--nr {
          font-size: 44px;
          line-height: 45px;
          font-weight: 700; }
        .blog__box .blog__image__date--month {
          line-height: 30px;
          font-weight: 800;
          font-size: 35px; }
        .blog__box .blog__image__text {
          padding: 50px 30px 30px; }
          .blog__box .blog__image__text--topic {
            font-weight: 700;
            font-size: 35px; }
          .blog__box .blog__image__text--author {
            font-size: 16px; }
    .blog__button {
      margin-top: 50px; }

  /* contact to us */
  .contact-to-us {
    background-position: center; } }
@media (max-width: 575.98px) {
  /* general */
  .head2 {
    font-size: 300%; }

  /* navigation */
  .navbar {
    background-color: #F9F9FB;
    max-height: 560px; }
    .navbar .navbar-collapse {
      padding-top: 20px; }
      .navbar .navbar-collapse .nav-link {
        margin: 0 auto;
        width: 25%; }

  /* jumbotron */
  .jumbotron-fluid {
    padding-top: 90px; }
    .jumbotron-fluid .container .jumbotron-text {
      width: 100%;
      padding: 0 15px;
      top: 20%;
      left: 0;
      text-align: center; }
    .jumbotron-fluid .container .scroll {
      left: 47%; }

  /* gallery */
  .gallery {
    padding: 100px 0; }
    .gallery__text--p {
      padding: 0 0 45px; }
    .gallery__box1 {
      margin-bottom: 0; }
    .gallery__box2 {
      margin-bottom: 0; }
    .gallery__img {
      margin: 10px 0;
      height: 220px; }
    .gallery__button {
      margin-top: 50px; }

  /* subscribe to us */
  .subscribe-to-us {
    background-image: none;
    background-color: #fff; }
    .subscribe-to-us .subscribe--p {
      width: 100%; }
    .subscribe-to-us .subscribe__form--input {
      width: 100%; }

  /* blog */
  .blog {
    padding: 100px 0; }
    .blog__text--p {
      padding: 0 0 45px; }
    .blog__box {
      margin-bottom: 0; }
      .blog__box .blog__image {
        margin: 10px 0; }
        .blog__box .blog__image__date {
          padding: 0.7%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .blog__box .blog__image__date--nr {
            font-size: 30px;
            line-height: 25px; }
          .blog__box .blog__image__date--month {
            font-size: 21px;
            line-height: 27px; }
    .blog__button {
      margin-top: 50px; }

  /* contact to us */
  .contact-to-us {
    background-position: center; }
    .contact-to-us .contact__text--p {
      padding: 0 10px 30px; }

  /* footer */
  .footer {
    padding: 50px 0; }
    .footer__p--large {
      width: 100%;
      text-align: center; } }
@media (max-height: 550px) {
  /* jumbotron */
  .jumbotron-fluid .container .jumbotron-text {
    top: 5%; }

  /* blog */
  .blog__box__image__date--nr {
    font-size: 24px;
    line-height: 18.5px; }
  .blog__box__image__date--month {
    font-size: 16px;
    line-height: 23px; } }
