@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');


/* animations */
@keyframes navLink {
	from { width: 0;}
	to { width: 100%;}
}

@keyframes scroll {
	from {top: 5px;}
	to {top: 12px;}
}




/* general */

body {
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	position: relative;
}
.container {
	max-width: 1200px;
}
.btn {
	width: 200px;
	height: 55px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
	border-radius: 0;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	transition: 0.3s;
}
.btn:hover {
	transform: scale(1.1,1.1);
}
.head2 {
	font-size: 90px;
	font-weight: 700;
	margin-bottom: 30px;
}
.paragraf {
	line-height: 28px;
	font-size: 17px;
}	
.fixed-nav {
	background-color: #F9F9FB;
}




/* navigation */

.navbar {
	max-height: 62px;
	padding: 5% 15px;
	transition: 0.3s;
	&-collapse {
		.nav-link {
			font-weight: 700;
			letter-spacing: -0.4px;
			color: #000;
			position: relative;
			text-align: center;			
			&__line{
				position: absolute;
				width: 100%;
				height: 3px;
				top: 5px;
				left: 0;
				background-color: red;
				visibility: hidden;
			} 
			&:hover .nav-link__line {
				visibility: visible;				
				animation: navLink 0.5s 1;
			}			
		}
		.active {
			.nav-link__line {
				visibility: visible;
				animation: navLink 0.5s 1;
			}
		}
		.nav-link:not(.active) {
			.nav-link__line {
				visibility: hidden;
				animation: navLink 0.5s 1;
			}
		}
	}			
}




/* jumbotron */

.jumbotron-fluid {
	height: 100vh;
	background: #F9F8FB url('../img/bg_header1.png') center no-repeat;
	padding-top: 145px;
	.container {
		position: relative;
		height: 100%;
		.jumbotron-text {
			width: 31.75%;	
			position: absolute;
			top: 25%;
			left: 15px;
			&__head {
				font-size: 58px;
				font-weight: 900;
				margin: 0;
				line-height: 48px;
			}
			&__p {
				margin: 30px 0;
			}
			&__btn {
				background-color: #FE6033;				
			}
		}
		.scroll {
			position: absolute;
			bottom: 7%;
			left: 50%;
			&__anim {
				position: relative;
				&__mouse__line {
					position: absolute;
					top: 2px;
					left: 10px;
					animation: scroll 1.2s infinite;
				}
			}
			&__arrow {
				.fa-angle-down {
					position: relative;
					font-size: 40px;
					animation: scroll 1.2s infinite;
				}				
			}
		}
	}	
}
	



/* about us */

.about-us {
	background-color: #01BFBF;
	min-height: 700px;
	.about {
		&__image {	
			&__img {
				filter: drop-shadow(-15px 3px 23px rgba(0, 0, 0, 0.4));
				width: 567px;				
			}
		}
		&__text {
			padding-left: 8.55%;
			padding-bottom: 20px;
			max-width: 603px;
			&__head {
				line-height: 75px;
			}			
			&__p {				
				margin-bottom: 12px;
			}
		}
	}
}




/* our services */

.our-services {
	min-height: 790px;
	background-color: #70C0FF;
	.services {
		&__buttons {
				padding-top: 8.55%;
				padding-left: 7.27%;
			&__box {
				width: 400px;
				max-width: 400px;
				height: 100px;
				display: flex;
				box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.6);
				margin-bottom: 20px;
				&__btn {
					cursor: pointer;
					border: none;
					background-color: #fff;
				}
				&__btn {
					&__text {
						width: 75%;					
						font-weight: 700;
						padding-left: 15px;
						padding-right: 15px;
						font-size: 18px;
					}
				}
				&__btn {
					&__icon {
						width: 25%;						
						border-left: 1px solid #000;
					}
				}
			}
		}
		&__image {
			width: 560px;
			max-width: 560px;
			height: 530px;
			background: url('../img/tomatoes.png') right no-repeat;
			&__head {
				color: #fff;
			}
		}
	}
}




/* gallery */

.gallery {
	background-color: #FEE92E;
	min-height: 1535px;
	.gallery__text {
		&__p {
			padding: 0 25.6% 45px;
			margin: 0;
		}
	}
	.gallery__box1 {
		margin-bottom: 25px;
		&__image1 {
			&__img {
				width: 745px;
				height: 560px;
			}
		}
		&__image2 {
			&__img {
				width: 400px;
				height: 267px;
			}
		}
	}
	.gallery__box2 {
		margin-bottom: 50px;
		&__img {
			width: 572px;
			height: 420px;
		}
	}
	.gallery__img {
		filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.6));
		object-fit: cover;
	}
	.gallery__button {
		&__btn {
			background-color: #5685A3;
		}	
	}
}




/* subscribe to us */

.subscribe-to-us {
	min-height: 500px;
	background: url('../img/bg_subscribe.png') center no-repeat;
	.subscribe__box {
		margin-bottom: 38px;
		&__head {
			font-size: 40px;
			font-weight: 700;
			margin: 0;
			line-height: 48px; 
		}
		&__p {
			width: 50%;
			margin-top: 25px;
			margin-bottom: 30px;
		}
		&__form {
			&__input {
				width: 570px;
				max-width: 570px;
				height: 55px;
				padding: 15px;
				border: 1px solid #000;
				opacity: 0.7;
				font-size: 15px;
			}
			&__btn {
				width: 170px;
				height: 55px;
				margin-left: 25px;
				background-color: #97BA2C;
			}
		}
	}
}




/* blog */

.blog {
	background-color: #B07CF8;
	min-height: 865px;
	&__text {
		&__p {
			padding: 0 24% 45px;
			margin: 0;
		}
	}
	&__box {
		margin-bottom: 50px;
		&__image {
			position: relative;
			&__img {
				width: 370px;
				object-fit: cover;
				filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.6));
			}
			&__date {
				width: 16.3%;
				height: 18.7%;
				position: absolute;
				top: 12.5%;
				left: 8.1%;
				background-color: rgba(0, 0, 0, 0.3);
				border-radius: 5px;
				text-align: center;				
				padding: 7px;
				&__nr {					
					font-size: 30px;
					line-height: 20px;
					font-weight: 700;
				}
				&__month {					
					line-height: 27px;
					font-weight: 800;
					font-size: 21px;
				}
			}
			&__text {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
				padding: 50px 20px 20px;
				&__topic {
					font-weight: 700;
					font-size: 20px;
				}
				&__author {
					font-size: 13px;
				}
			}
		}
	}
	&__button {
		&__btn {
			background-color: #F82B3C;
		}
	}
}




/* contact to us */

.contact-to-us {
	background: url('../img/bg_contact.png') left/cover no-repeat;
	min-height: 865px;
	.contact-text {
		&__p {
			padding: 0 34% 30px;
			margin: 0;
		}
	}
	.contact-box {
		&__form {
		height: 445px;
			font-size: 14px;
			&__input {
				width: 500px;
				max-width: 500px;
				height: 50px;
				padding: 5px 15px;
				background-color: rgba(0, 196, 195, 0.5);
				border: none;
				color: #fff;
				font-weight: 500;
			}			
			&__textarea {
				width: 500px;
				max-width: 500px;
				height: 250px;
				padding: 15px 15px;
				background-color: rgba(0, 196, 195, 0.5);
				border: none;
				color: #fff;
				font-weight: 500;
				resize: none;
			}
			.contact-input {
				&::placeholder {
					color: #fff;
					font-weight: 300;
				}
				&:focus {										
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
				&:hover {
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
				&:valid {
					background-color: rgb(0, 196, 195);
					outline: none;					
				}
			}
			.phone-input {
				&::placeholder {
					color: #fff;
					font-weight: 300;
				}
				&:focus {					
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
				&:hover {
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
			}
			.fulfill {
				background-color: rgb(0, 196, 195);
				outline: none;
			}
		}
		&__text {
			padding-right: 170px;
			&__head {
				font-size: 17px;
				font-weight: 700;
				margin: 0;
			}
			&__p {
				font-size: 21px;
				color: #000;
			}
		}
	}
}




/* footer */

.footer {
	background-color: #262626;
	min-height: 100px;
	color: #B9B9B9;
	&__p {
		&--small {
			font-size: 15px;
			&-red {
				color: #FD2B58;
				font-weight: 600;
			}
		}
	}	
}




/*media query */


@media (min-width: 993px) and (max-width: 1199.98px) {

		 
/* jumbotron */

	.jumbotron-fluid {
		background-size: cover;
		.container {
			.jumbotron-text {
				width: 45%;
				margin-left: 20px;				
			}	
		}
	}


	

/* about us*/

	.about-us {
		.about {
			&__text {
				padding-left: 40px;
				padding-right: 12px;
			}
			&__image {
				&__img {
					width: 500px;
				}
			}
		}
	}




/* services */

	.our-services {
		.services {
			&__image {
				&__head {					
					text-align: center;
				}
			}
		}
	}





/* gallery */

	.gallery {
		padding: 100px 0;
		.gallery__box1 {
			&__image1 {
				&__img {				
					width: 570px;					
				}
			}
		}
		.gallery__box2 {
			&__img {
				width: 489px;		
				height: 420px;
			}
		}		
	}





/* subscribe to us */

	.subscribe-to-us {
		.subscribe__box {
			margin-left: 20px;
		}
	}




/* blog */

	.blog {
		&__box {
			&__image {
				&__img {
					width: 315px;
					height: auto;
				}
				&__date {
					padding: 4px;
					&__nr {					
						font-size: 25px;
						line-height: 25px;
						font-weight: 700;
					}
					&__month {					
						line-height: 12px;
						font-weight: 800;
						font-size: 15px;
					}
				}
				&__text {
					&__topic {
						font-weight: 700;
						font-size: 16px;
					}
					&__author {
						font-size: 12px;
					}
				}							
			}
		}
	}




/* contact to us */

	.contact-to-us {		
		.contact-box {			
			&__text {
				padding-right: 70px;
			}
		}
	}
}




@media (max-width: 991.98px) {
	
/* gederal */

	.d-flex {
		flex-wrap: wrap;
		justify-content: center;
	}




/* navigation 

	.navbar {
		.navbar-collapse {
			.nav-link {
				&:hover .nav-link__line {
					background-color: transparent;
				}
			}
		}		
	}
*/


	
/* about us*/

	.about-us {
		.about {
			&__text {
				padding-left: 0;
				padding-bottom: 0;
			}
		}
	}




/* services */

	.our-services {
		.services {
			flex-direction: column-reverse;
			&__buttons {
				padding-top: 0;
				padding-left: 0;
				&__box {
					width: 100%;
					height: 100px;
				}
			}
			&__image {
				width: 100%;
				height: auto;
				background: none;
				text-align: center;
				&__head {					
					margin-bottom: 50px;
				}
			}
		}
	}




/* contact to us */

	.contact-to-us {
		padding: 100px 0;
		.contact-text {
			&__p {
				margin: 0;
			}
		}
		.contact-box {
			&__form {
				width: 100%;
				&__input {
					width: 100%;					
				}
				&__textarea {
					width: 100%;					
				}
			}
			&__text {
				padding-right: 0;
				color: #fff;
				padding-top: 50px;
				text-align: center;
				&__p {
					color: #fff;
				}
			}
		}
	}
}




@media (min-width: 576px) and (max-width: 991.98px) {


/* jumbotron */

	.jumbotron-fluid {
		background-size: cover;
		.container {
			.jumbotron-text {
				width: 50%;
				margin-left: 20px;				
			}
		}		
	}




/* gallery */

	.gallery {
		padding: 100px 0;
		.gallery__box1 {
			margin-bottom: 0;
		}
		.gallery__img {
			margin: 10px 0;
			width: 650px;
			height: 450px;
		}
		
	}




/* subscribe to us */

	.subscribe-to-us {
		.subscribe__box {
			margin-left: 40px;
			&__form {
				&__btn {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}




/* blog */

	.blog {
		padding: 100px 0;
		
		&__box {
			&__image {
				margin: 10px 0;	
				&__img {
					width: 600px;
				}
				&__date {
					&__nr {					
						font-size: 44px;
						line-height: 45px;
						font-weight: 700;
					}
					&__month {					
						line-height: 30px;
						font-weight: 800;
						font-size: 35px;
					}
				}
				&__text {					
					padding: 50px 30px 30px;
					&__topic {
						font-weight: 700;
						font-size: 35px;
					}
					&__author {
						font-size: 16px;
					}
				}							
			}
		}		
	}
}




@media (max-width: 575.98px) {
	

/* general */

	.head2 {
		font-size: 300%;
	}




/* navigation */

	.navbar {
		background-color: #F9F9FB;
		max-height: 560px;
		.navbar-collapse {
			padding-top: 20px;
			.nav-link {
				margin: 0 auto;
				width: 25%;
			}
		}		
	}




/* jumbotron */

	.jumbotron-fluid {
		padding-top: 90px;
		.container {
			.jumbotron-text {
				width: 100%;
				padding: 0 15px;
				top: 20%;
				left: 0;
				text-align: center;				
			}
			.scroll {
				left: 47%;
			}
		}		
	}
	



/* gallery */

	.gallery {
		padding: 100px 0;
		.gallery__text {
			&__p {
				padding: 0 0 45px;
			}
		}
		.gallery__box1 {
			margin-bottom: 0;
		}
		.gallery__img {
			margin: 10px 0;
			height: 220px;
		}		
	}




/* subscribe to us */

	.subscribe-to-us {
		background-image: none;
		background-color: #fff;
		.subscribe__box {
			&__p {
				width: 100%;
			}
			&__form {
				&__input {
					width: 100%;
				}
				&__btn {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}
	



/* blog */

	.blog {
		padding: 100px 0;
		&__text {
			&__p {
				padding: 0 0 45px;
			}
		}
		&__box {
			&__image {
				margin: 10px 0;	
				&__date {
					padding: 0.7%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					&__nr {
						font-size: 30px;
						line-height: 25px;
					}
					&__month {
						font-size: 21px;
						line-height: 27px;
					}
				}			
			}
		}
	}




/* contact to us */

	.contact-to-us {
		.contact-text {
			&__p {
				padding: 0 10px 30px;				
			}
		}
	}




/* footer */

	.footer {
		padding: 50px 0;
		&__p {
			&--large {
				width: 100%;
				text-align: center;
			}
		}
	}
}

@media (max-height: 550px) {

/* jumbotron */

	.jumbotron-fluid {
		.container {
			.jumbotron-text {
				top: 5%;				
			}
		}		
	}



/* blog */

	.blog {
		&__box {
			&__image {
				&__date {
					&__nr {
						font-size: 24px;
						line-height: 18.5px;
					}
					&__month {
						font-size: 16px;
						line-height: 23px;
					}
				}			
			}
		}
	}

}