@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');


/* animations */
@keyframes navLink {
	from { width: 0;}
	to { width: 100%;}
}



body {
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	position: relative;
}
.container {
	max-width: 1200px;
}
.btn {
	width: 200px;
	height: 55px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
	border-radius: 0;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	transition: 0.3s;
}
.btn:hover {
	transform: scale(1.1,1.1);
}
.head2 {
	font-size: 90px;
	font-weight: 700;
	margin-bottom: 30px;
}
.paragraf {
	line-height: 28px;
	font-size: 17px;
}



	
.fixed-nav {
	
	background-color: #F9F9FB;
}


/* header */
.header {
	min-height: 100vh;
	background: #F9F8FB url('../img/bg_header1.png');
	background-position: center;
	background-repeat: no-repeat;

/* navigation */
	.navbar {
		min-height: 145px;
		z-index: 99;
		transition: 0.3s;
		position: fixed;
		.nav-link {
			font-weight: 700;
			letter-spacing: -0.4px;
			color: #000;
			position: relative;
			text-align: center;
			
			&_line{
				position: absolute;
				width: 100%;
				height: 3px;
				top: 0;
				left: 0;
				background-color: red;
				visibility: hidden;
			} 
			&:hover .nav-link_line {
				visibility: visible;
				animation: navLink 0.5s 1;
			}
			
		}
		.active {
			.nav-link_line {
				visibility: visible;
				animation: navLink 0.5s 1;
			}
		}
		
	}
/* jumbotron */
	.jumbotron-fluid {
		.jumbotron-text {
			width: 31.75%;
			padding-top: 350px;
			&_head {
				font-size: 58px;
				font-weight: 900;
				margin: 0;
				line-height: 48px;
			}
			&_p {
				margin: 30px 0;
			}
			&_btn {
				background-color: #FE6033;				
			}
		}
		.scroll {
			padding-top: 20%;
			margin-bottom: 0;
		}
	}
	
}



/* about us */

.about-us {
	background-color: #01BFBF;
	min-height: 700px;
	.about {
		&-image {	
			&_img {
				filter: drop-shadow(-15px 3px 23px rgba(0, 0, 0, 0.4));
				width: 567px;
				
			}
		}
		&-text {
			padding-left: 8.55%;
			padding-bottom: 20px;
			max-width: 603px;
			&_head {
				line-height: 75px;
			}			
			&_p {				
				margin-bottom: 12px;
			}
		}
	}
}

/* our services */

.our-services {
	min-height: 790px;
	background-color: #70C0FF;
	.services {
		&-buttons {
				padding-top: 8.55%;
				padding-left: 7.27%;
			&-box {
				width: 400px;
				max-width: 400px;
				height: 100px;
				display: flex;
				box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.6);
				margin-bottom: 20px;
				&_btn {
					cursor: pointer;
					border: none;
					background-color: #fff;
				}
				&_btn-text{
					width: 75%;					
					font-weight: 700;
					padding-left: 15px;
					padding-right: 15px;
					font-size: 18px;
				}
				&_btn-icon {
					width: 25%;						
					border-left: 1px solid #000;
				}
			}
		}
		&-image {
			width: 560px;
			max-width: 560px;
			height: 530px;
			background: url('../img/tomatoes.png') right no-repeat;
			&_head {
				color: #fff;
			}
		}
	}
}

/* gallery */

.gallery {
	background-color: #FEE92E;
	min-height: 1535px;
	.gallery-text {
		&_p {
			padding: 0 25.6% 45px;
			margin: 0;
		}
	}
	.gallery-box1 {
		margin-bottom: 25px;
		&_image1 {
			&-img {
				width: 745px;
				height: 560px;
			}
		}
		&_image2 {
			&-img {
				width: 400px;
				height: 267px;
			}
		}

	}
	.gallery-box2 {
		margin-bottom: 50px;
		&_img {
			width: 572px;
			height: 420px;
		}
	}
	.gallery-img {
		filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.6));
		object-fit: cover;
	}
	.gallery-button {
		&_btn {
			background-color: #5685A3;
		}	
	}
}

/* subscribe to us */

.subscribe-to-us {
	min-height: 500px;
	background: url('../img/bg_subscribe.png') center no-repeat;
	.subscribe-box {
		margin-bottom: 38px;
		&_head {
			font-size: 40px;
			font-weight: 700;
			margin: 0;
			line-height: 48px; 
		}
		&_p {
			width: 50%;
			margin-top: 25px;
			margin-bottom: 30px;
		}
		&_form {
			&-input {
				width: 570px;
				max-width: 570px;
				height: 55px;
				padding: 15px;
				border: 1px solid #000;
				opacity: 0.7;
				font-size: 15px;
			}
			&-btn {
				width: 170px;
				height: 55px;
				margin-left: 25px;
				background-color: #97BA2C;
			}
		}
	}
}


/* blog */
.blog {
	background-color: #B07CF8;
	min-height: 865px;
	.blog-text {
		&_p {
			padding: 0 24% 45px;
			margin: 0;
		}
	}
	.blog-box {
		margin-bottom: 50px;
		&_image {
			position: relative;
			&-img {
				width: 370px;
				object-fit: cover;
				filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.6));
			}
			&-date {
				width: 16.2%;
				height: 18.46%;
				position: absolute;
				top: 12.5%;
				left: 8.1%;
				background-color: rgba(0, 0, 0, 0.3);
				border-radius: 5px;
				text-align: center;				
				padding: 5px;
				&_nr {					
					font-size: 30px;
					line-height: 25px;
					font-weight: 700;
				}
				&_month {					
					line-height: 27px;
					font-weight: 800;
					font-size: 21px;
				}
			}
			&-text {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
				padding: 50px 20px 20px;
				&_topic {
					font-weight: 700;
					font-size: 20px;
				}
				&_author {
					font-size: 13px;
				}
			}
		}
	}
	.blog-button {
		&_btn {
			background-color: #F82B3C;
		}
	}
}

/* contact to us */

.contact-to-us {
	background: url('../img/bg_contact.png') left/cover no-repeat;
	min-height: 865px;
	.contact-text {
		&_p {
			padding: 0 34% 30px;
			margin: 0;
		}
	}
	.contact-box {
		&_form {
		height: 445px;
			font-size: 14px;
			&-input {
				width: 500px;
				max-width: 500px;
				height: 50px;
				padding: 5px 15px;
				background-color: rgba(0, 196, 195, 0.5);
				border: none;
				color: #fff;
				font-weight: 500;
			}
						
			
			&-textarea {
				width: 500px;
				max-width: 500px;
				height: 250px;
				padding: 15px 15px;
				background-color: rgba(0, 196, 195, 0.5);
				border: none;
				color: #fff;
				font-weight: 500;
				resize: none;
			}
			.contact-input {
				&::placeholder {
					color: #fff;
					font-weight: 300;
				}
				&:focus {										
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
				&:hover {
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
				&:valid {
					background-color: rgb(0, 196, 195);
					outline: none;					
				}
			}
			.phone-input {
				&::placeholder {
					color: #fff;
					font-weight: 300;
				}
				&:focus {					
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
				&:hover {
					border-left: 5px solid #355B82;
					outline: none;
					padding-left: 10px;
				}
			}
			.fulfill {
				background-color: rgb(0, 196, 195);
				outline: none;
			}
		}
		&_text {
			padding-right: 170px;
			&-head {
				font-size: 17px;
				font-weight: 700;
				margin: 0;
			}
			&-p {
				font-size: 21px;
			}
		}
	}
	

}

/* footer */

.footer {
	background-color: #262626;
	min-height: 100px;
	color: #B9B9B9;
	&-p_small {
		font-size: 15px;
		&_red {
			color: #FD2B58;
			font-weight: 600;
		}
	}
}



/*media query */
@media (max-width: 1199.98px) {
	/* navigation */


			
	
}

@media (min-width: 993px) and (max-width: 1199.98px) {
	.header {
		background-size: cover; 
/* jumbotron */
		.jumbotron-fluid {
			.jumbotron-text {
				width: 50%;
				margin-left: 20px;
				padding-top: 500px;				
			}
			.scroll {
				padding-top: 50%;
				margin-bottom: 70px;
			}
		}
	}

/* about us*/
	.about-us {
		.about {
			&-text {
				padding-left: 40px;
				padding-right: 12px;
			}
			&-image {
				&_img {
					width: 500px;
				}
			}
		}
	}

/* gallery */

	.gallery {
		padding: 100px 0;
		.gallery-box1 {
			&_image1 {
				&-img {				
					width: 570px;					
				}
			}
		}
		.gallery-box2 {
			&_img {
				width: 489px;		
				height: 420px;
			}
		}
		
	}
/* services */

	.our-services {
		.services {
			&-image {
				&_head {					
					text-align: center;
				}
			}
		}
	}

/* subscribe to us */

	.subscribe-to-us {
		.subscribe-box {
			margin-left: 20px;
		}
	}


/* blog */
	.blog {
		.blog-box {
			&_image {
				&-img {
					width: 315px;
					height: auto;
				}
				&-date {
					&_nr {					
						font-size: 20px;
						line-height: 25px;
						font-weight: 700;
					}
					&_month {					
						line-height: 10px;
						font-weight: 800;
						font-size: 15px;
					}
				}
				&-text {					

					&_topic {
						font-weight: 700;
						font-size: 16px;
					}
					&_author {
						font-size: 12px;
					}
				}							
			}
		}
	}
/* contact to us */

	.contact-to-us {		
		.contact-box {			
			&_text {
				padding-right: 70px;
			}
		}
	}
}

@media (max-width: 991.98px) {
	
	.d-flex {
		flex-wrap: wrap;
		justify-content: center;
	}

	/* about us*/
	.about-us {
		.about {
			&-text {
				padding-left: 0;
				padding-bottom: 0;
			}
		}
	}


/* services */

	.our-services {
		.services {
			flex-direction: column-reverse;
			&-buttons {
				padding-top: 0;
				padding-left: 0;
				&-box {
					width: 100%;
					height: 100px;
				}
			}
			&-image {
				width: 100%;
				height: auto;
				background: none;
				text-align: center;
				&_head {					
					margin-bottom: 50px;
				}
			}
		}
	}




}

@media (min-width: 768px) and (max-width: 991.98px) {
	.header {
		background-size: cover; 
		/* jumbotron */
		.jumbotron-fluid {
			.jumbotron-text {
				width: 50%;
				margin-left: 20px;				
			}
			.scroll {
				padding-top: 30%;
				margin-bottom: 70px;
			}
		}
	}


/* gallery */

	.gallery {
		padding: 100px 0;
		.gallery-box1 {
			margin-bottom: 0;
		}
		.gallery-img {
			margin: 10px 0;
			width: 650px;
			height: 450px;
		}
		
	}
/* subscribe to us */

	.subscribe-to-us {
		.subscribe-box {
			margin-left: 40px;
			&_form {
				&-btn {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}
/* blog */
	.blog {
		padding: 100px 0;
		.blog-box {
			&_image {
				margin: 10px 0;	
				&-img {
					width: 600px;
				}
				&-date {
					&_nr {					
						font-size: 44px;
						line-height: 45px;
						font-weight: 700;
					}
					&_month {					
						line-height: 30px;
						font-weight: 800;
						font-size: 35px;
					}
				}
				&-text {					
					padding: 50px 30px 30px;
					&_topic {
						font-weight: 700;
						font-size: 35px;
					}
					&_author {
						font-size: 16px;
					}
				}							
			}
		}
	}
	/* contact to us */

	.contact-to-us {
		padding: 100px 0;
		.contact-text {
			&_p {
				margin: 0;
			}
		}
		.contact-box {
			&_form {
				width: 100%;
				&-input {
					width: 100%;					
					
				}
				&-textarea {
					width: 100%;					
				}
			}
			&_text {
				padding-right: 0;
				color: #fff;
				padding-top: 50px;
				text-align: center;
			}
		}
	}
}




@media (max-width: 767.98px) {
	
	.head2 {
		font-size: 300%;
	}

	.header {
		.navbar {
			background-color: #F9F9FB;
			.navbar-collapse {
				padding-top: 20px;
				.nav-link {
					margin: 0 auto;
					width: 25%;
				}
			}
			
		}
		/* jumbotron */
		.jumbotron-fluid {
			.jumbotron-text {
				width: 90%;
				padding-top: 190px;				
			}
		}
		.scroll {
			margin-bottom: 70px;
		}
	}



	


/* gallery */

	.gallery {
		padding: 100px 0;
		.gallery-text {
			&_p {
				padding: 0 0 45px;
			}
		}
		.gallery-box1 {
			margin-bottom: 0;
		}
		.gallery-img {
			margin: 10px 0;
			height: 220px;
		}
		
	}


/* subscribe to us */

	.subscribe-to-us {
		background-image: none;
		background-color: #fff;
		.subscribe-box {
			&_p {
				width: 100%;
			}
			&_form {
				&-input {
					width: 100%;
				}
				&-btn {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}
	
/* blog */
	.blog {
		padding: 100px 0;
		.blog-text {
			&_p {
				padding: 0 0 45px;
			}
		}
		.blog-box {
			&_image {
				margin: 10px 0;				
			}
		}
	}
/* contact to us */

	.contact-to-us {
		padding: 100px 0;
		.contact-text {
			&_p {
				padding: 0 10px 30px;
				margin: 0;
			}
		}
		.contact-box {
			&_form {
				width: 100%;
				&-input {
					width: 100%;					
					
				}
				&-textarea {
					width: 100%;					
				}
			}
			&_text {
				padding-right: 0;
				color: #fff;
				padding-top: 50px;
				text-align: center;
			}
		}
	}
/* footer */

	.footer {
		padding: 50px 0;
		&-p_large {
			width: 100%;
			text-align: center;
		}
		&-p_small {
			
		}
	}
}
